
    
   div {
  background-color: white;
 border: black;
  border-radius: 50px 50px 50px 50px;    
}
   body{
    margin: 5%;

    
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: "Gruppo", sans-serif;
}
div.cage{
    zoom: 1.3;
    width: 90%;
    overflow: hidden;
    
    margin: 0 auto;
    padding: 0.5em;
}
#inputField{
    border: none;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.label{
    text-align: left;
    float: left;
}
.box{
    width: 100%;
    text-align: left;
    float: right;